<!DOCTYPE html>
<html lang="en">

<head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/675412010518708245/690317134240547137/512.png">  
    <meta name="description" content="We are a Roblox Development Company that makes theme park items for a cheap price!">
  <link rel="shortcut icon" href="https://cdn.glitch.com/277ceae9-fdff-4a2c-8de5-739d0fc550a2%2Ffavicon%20(5).ico?v=1583904002405" />

    <title>Coaster Studios</title>
  

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="style.css" rel="stylesheet">
    <link href="font-awesome.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  
  

</head>

  

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Coaster Studios</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                     <li>
                        <a class="page-scroll" href="#announcements">Announcements</a>
                    </li>
                  <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#projects">Projects</a>
                    </li>
                   <li>
                        <a class="page-scroll" href="#allies">Allies</a>
                    </li>
                  <li>
                        <a class="page-scroll" href="#progress">Progress</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                  <li>
                        <a class="page-scroll" href="#credits">Credits</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
 
  
  
  <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Coaster Studios</h1>
                <hr>
                <p>Providing affordable theme park products for the whole community to share!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Company Information</a>
            </div>
        </div>
    </header>
   
  <section id="announcements">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Announcements</h2>
                    <hr class="primary">
                    <p>Will be posting some product pictures in the Portfollio section soon!
                      <br>
                      <br>
                  Announcement by Someones Son?#5715</p>
                </div>
                </div>
            </div>
    </section>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Company Information</h2>
                    <hr class="light">
                    <p class="text-faded">We are a developing company that provides high quality roller coasters for the community at a cheap prices. This is meant to help out different groups add some more cool stuff to their main attraction. We can do most styles, plus we provide the best service. We try making roller coasters within a few days! We can provide most kinds of tracks from Intamin to Wooden Roller Coasters! If your track breaks, we will try and fix it as soon as we can because we care about our clients. Coaster Studios also makes other various theme park products to make your park stand out from others.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                        <h3>Amazing Designs</h3>
                        <p class="text-muted">We try and provide high quality products that will fit your need and space!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                      <h3>Fast Service</h3>
                        <p class="text-muted">If you buy a custom coaster we will try to make it within 3 days. If it is pre-made, then you will get it instantly from our bot!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Updates</h3>
                        <p class="text-muted">If there ever was an issue with any of our products, we would try and make an update as soon as we can!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Amazing Support</h3>
                        <p class="text-muted">We try to provide the best customer support that makes you want to come back again and again.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="projects">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="https://cdn.discordapp.com/attachments/687386687680151583/693160709030412298/rsz_creation.png" class="portfolio-box">
                        <img src="https://cdn.discordapp.com/attachments/687386687680151583/693160709030412298/rsz_creation.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Intamin Coaster
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://criminalbackgroundrobertodiernasmoviereviewblog.files.wordpress.com/2016/05/coming-soon-banner2.jpg" class="portfolio-box">
                        <img src="https://criminalbackgroundrobertodiernasmoviereviewblog.files.wordpress.com/2016/05/coming-soon-banner2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Coming Soon!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://criminalbackgroundrobertodiernasmoviereviewblog.files.wordpress.com/2016/05/coming-soon-banner2.jpg" class="portfolio-box">
                        <img src="https://criminalbackgroundrobertodiernasmoviereviewblog.files.wordpress.com/2016/05/coming-soon-banner2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Coming Soon!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://criminalbackgroundrobertodiernasmoviereviewblog.files.wordpress.com/2016/05/coming-soon-banner2.jpg" class="portfolio-box">
                        <img src="https://criminalbackgroundrobertodiernasmoviereviewblog.files.wordpress.com/2016/05/coming-soon-banner2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Coming Soon!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://criminalbackgroundrobertodiernasmoviereviewblog.files.wordpress.com/2016/05/coming-soon-banner2.jpg" class="portfolio-box">
                        <img src="https://criminalbackgroundrobertodiernasmoviereviewblog.files.wordpress.com/2016/05/coming-soon-banner2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                  Coming Soon!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://criminalbackgroundrobertodiernasmoviereviewblog.files.wordpress.com/2016/05/coming-soon-banner2.jpg" class="portfolio-box">
                        <img src="https://criminalbackgroundrobertodiernasmoviereviewblog.files.wordpress.com/2016/05/coming-soon-banner2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Coming Soon!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Join our Discord for some exclusive information! This could include upcoming give aways and sneak peaks of up coming products!</h2>
                <a href="https://discord.gg/sP8Xy4r" class="btn btn-default btn-xl sr-button">Join Now!</a>
            </div>
        </div>
       <section class="bg-primary" id="allies">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Allies</h2>
                    <hr class="light">
                    <p class="text-faded">We currently have no allies yet.
                  <br>
                  This is because we are still in development!
                  <br>
                  <br>
                  We will start doing alliances once we get up and running!</p>
                </div>
            </div>
        </div>
      </section>
    </aside>
  <section id="progress">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Progress</h2>
                    <hr class="primary">
                    <p>Intamin Coaster (by Someones Son?)</p>
                  <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
    100%
  </div>
</div>
                  <p>
                    Info Desk (by Septical)
                  </p>
                    <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
    100%
  </div>
</div>
                                      <p><br>Ticket Booth (by Septical)</p>
                  <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="59" aria-valuemin="0" aria-valuemax="100" style="width:59%">
    59%
  </div>
</div>
                                        <p><br>M&D Coaster (by Someones Son?)</p>
                  <div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%">
    10%
  </div>
</div>
               
                  </div>
                </div>
    </div>
     <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>All stats on the progress bar may not be 100% accurate because they are not updated automatically!</h2>

            </div>
        </div>
    </aside>
  
    </section>
      <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact Us!</h2>
                    <hr class="primary">
                    <p>There are 2 ways to contact us!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>To contact us, please DM Someones Son?#5715 on Discord</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="https://discord.gg/sP8Xy4r" class="btn btn default btn-x1 sr-button">Join our Discord!</a></p>
                </div>
            </div>
        </div>
    </section>
   <section class="bg-primary" id="credits">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Credits</h2>
                    <hr class="light">
                    <p class="text-faded">Coaster Studios©2020
                      <br>
                  <br>
                  Made by Someones Son?#5715 and Fantom XR#8288
                  <br>
                  <br>
                  URL Provided by: Skyron Cloud</p>
                </div>
            </div>
        </div>
    </section>
  

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/scroll-reveal.js"></script>
    <script src="/magnific-popup.js"></script>

    <!-- Theme JavaScript -->
    <script src="/client.js"></script>
    <script src="/wow.min.js"></script>
    
    <!-- FontAwesome CDN -->
    <script src="https://use.fontawesome.com/fcb170d64e.js"></script>

  

  

 
  

</body>

</html>
